@tailwind base;

@tailwind components;

@tailwind utilities;

@layout utilities {
  .flow > * + * {
    @apply mb-12;
  }
}

*,
*::before,
*::after {
  /* background-color: #70c1f004; */
  box-sizing: border-box;
}

body {
  min-height: 100vh;
}

#app {
  grid-template-areas:
    'aside header'
    'aside main'
    'aside main'
    'aside main';
  @apply grid bg-blue-100;
}

aside {
  grid-area: aside;
}

header {
  grid-area: header;
}

main {
  grid-area: main;
}
