@tailwind base;

@tailwind components;

@tailwind utilities;

@layout utilities {
  .flow > * + * {
    @apply mb-12;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;

  /* background-color: #1011f030; */
}

body {
  min-height: 100vh;
}

#app {
  grid-template-areas:
    'aside header header'
    'aside main sidebar'
    'aside main sidebar'
    'aside main sidebar';
  grid-template-columns: auto 2fr 1fr;
  @apply grid bg-blue-100;
}

aside {
  grid-area: aside;
}

aside.sidebar {
  grid-area: sidebar;
  @apply mr-2;
}

header {
  grid-area: header;
}

main {
  grid-area: main;
}

aside.sidebar,
main {
  @apply ml-2;
}
