/* stylelint-disable declaration-block-no-redundant-longhand-properties */
@tailwind base;

@tailwind components;

@tailwind utilities;

@layout utilities {
  .flow > * + * {
    @apply mb-12;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;

  /* background-color: #1011f030; */
}

body {
  min-height: 100vh;
}

#app {
  @apply bg-blue-100;

  display: grid;
  grid-template-areas:
    'aside header header'
    'aside main sidebar'
    'aside main sidebar'
    'aside main sidebar'
    'aside footer footer';
  grid-template-rows: auto repeat(2, 1fr);
  grid-template-columns: 2fr 8fr 2fr;
}

aside {
  grid-area: aside;
}

footer {
  grid-area: footer;
  min-width: 100%;
}

aside.sidebar {
  @apply mr-2;

  grid-area: sidebar;
}

header {
  grid-area: header;
}

main {
  grid-area: main;
}

aside.sidebar,
main {
  @apply ml-2;
}
